.container {
    padding: 20px;
}
mat-card {
    background-color: #18192d;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2 {
    font-weight: 500;
}



.icono{
    font-size: 40px;
    color: #448aff;
    margin: 10px;
}

.tarjeta , .tarjetaHoy{
    text-align: center;
    color: white;
}

.tarjetaHoy {
    width: 40%;
}

.contenedor-info{
    margin: 10px;
}
.tarjeta-info {
    font-size: xx-large;
}

.tarjetaTemperatura, .hoy-card{
   
    display: inline-flex;
    text-align: center;
    justify-content: space-around;
}

.hoy-card{
    width: 100%;
}

.tarjetaTemperatura {
    width: 100%;
}
.bandera {
    width: 100px;
}