<div class="container">

    <h1>{{titulo}} / {{ pais }}</h1>

    <div class="hoy-card">
        <mat-card class="tarjetaTemperatura">

            <div class="tarjeta">

                <div>Temperatura máxima</div>
                <div class="icono">
                    <i class="fas fa-temperature-high"></i>
                </div>
                <div class="contenedor-info">
                    <strong class="tarjeta-info"> {{datosHoy['main']['temp_max']}} </strong>
                    <span> C°</span>
                </div>

            </div>
            <div class="tarjeta">

                <div>Temperatura mínima</div>
                <div class="icono">
                    <i class="fas fa-temperature-low"></i>
                </div>
                <div class="contenedor-info">
                    <strong class="tarjeta-info"> {{datosHoy['main']['temp_min']}} </strong>
                    <span> C°</span>
                </div>

            </div>
        </mat-card>
    </div>


    <h2>Informacion sobre el clima:</h2>

    <div class="hoy-card">

        <mat-card class="tarjetaHoy">
            <div>Estado del Viento</div>
            <div class="contenedor-info">
                <strong class="tarjeta-info"> {{ datosHoy['wind']['speed'] | number: '.0-2'}} </strong>
                <span> kph</span>
            </div>
        </mat-card>

        <mat-card class="tarjetaHoy">
            <div>Humedad</div>
            <div class="contenedor-info">
                <strong class="tarjeta-info"> {{ datosHoy['main']['humidity']}} </strong>
                <span> %</span>
            </div>
        </mat-card>
    </div>

    <div class="hoy-card">

        <mat-card class="tarjetaHoy">
            <div>Visibilidad</div>
            <div class="contenedor-info">
                <strong class="tarjeta-info"> {{ datosHoy['visibility'] | number: '.1-1'}}</strong>
                <span> kilómetros</span>
            </div>
        </mat-card>

        <mat-card class="tarjetaHoy">
            <div>Presión del aire</div>
            <div class="contenedor-info">
                <strong class="tarjeta-info">{{ datosHoy['main']['pressure'] }}</strong>
                <span> mb</span>
            </div>
        </mat-card>


    </div>

</div>